.home-container {
  transition: all 0.3s ;
}

.hero-section-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.hero-section-text{
  margin-right: 30em;
  margin-bottom: 12em;
}
.hero-section-text > h1 {
    position: relative;
    color: #0E4B74;
    font-size: 90px;
  }
  
  .hero-section-text > p {
    position: relative;
    color: #358CC8;
    font-size: 25px;
    margin-top: 1.5em;
  }

  .hero-section-text > h3 {
    position: relative;
    color: #358CC8;
    font-size: 43px;
    margin-bottom: 0.5em;
  }

  .hero-section-button {
    position: relative;
    left: -25em;
    top: -5em;
}

.hero-section-image {
  position: relative;
  z-index: 1;
}

.hero-section-image > img {
  position: absolute; 
  top: -69dvh; 
  left: 9em; 
  width: 100%; 
  height: auto; 
  z-index: 1; 
}

.grammar-section-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.grammar-first-section-text {
    font-family: "Noto Sans Thai", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
    top: -110px;
}

.grammar-first-section-text h3,
.grammar-first-section-text h1,
.grammar-first-section-text h5 {
    display: inline-block;
    margin: 10px;
}

.grammar-first-section-text h3,
.grammar-first-section-text h5 {
  color: #358CC8;
}

.grammar-first-section-text h1 {
  color: #0E4B74;
}

.grammar-second-section-text {
  color: #0E4B74;
  font-family: "Noto Sans Thai", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin: 0 9em ;
  position: relative;
  text-align: justify;
  top: -60px;
}

.second-section-reference {
  color: #9AC5E3;
  position: relative;
  font-size: 13px;
  top: 50px;
  text-align: right;
}

.courses-section-container {
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.courses-section-text {
    position: relative;
    margin-bottom: 5em;
    font-size: 20px;
}

.courses-section-text h4 {
  font-size: 25px;
  position: relative;
  top: 2vh;
  left: 4.3em;
  color: #358CC8;
}

.courses-section-text h1 {
  font-size: 100px;
  position: relative;
  top: 6vh;
  left: 1em;
  color: #0E4A74;
}

.courses-section-text p {
  position: relative;
  font-size: 23px;
  margin: 0 17em;
  top: 11dvh;
  right: 10em;
  color: #0E4B74;
}

.courses-section-cylinder {
  z-index: 1;
  position: relative;
  top: -19dvh;
  right: 33em;
}

.benefits-section-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: #fff;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.benefits-section-text h1 {
    color: #0E4B74;
    font-size: 100px;
    position: relative;
}

.benefits-section-text p {
  color: #358CC8;
  font-size: 30px;
}

.benefits-section-text h1,
.benefits-section-text p {
  display: inline-block;
  margin: 30px;
}

.benefits-flipper-section-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  position: relative;
  top: 50px;
}
.flip-container {
  perspective: 1000px; /* Add perspective for the 3D effect */
}

.flipper {
  width: 300px;
  height: 400px;
  transition: transform 0.6s; /* Add transition effect */
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(-180deg); /* Rotate the flipper when hovering */
}

.front,
.back,
.front-2,
.back-2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; /* Hide the backside of the elements */
}

.front {
  background-color: #9AC5E3;
}

.back {
  background-color: #9AC5E3;
  transform: rotateY(180deg); /* Rotate the backside initially */
}

.front-2 {
  background-color: #65B8F2;
}

.back-2 {
  background-color: #65B8F2;
  transform: rotateY(180deg); /* Rotate the backside initially */
}

.front p,
.front-2 p {
  font-size: 22px;
  color: #266B9A;
  margin: 20px;
  text-align: center;
}

.back p,
.back-2 p {
  font-size: 17px;
  color: #fff;
  margin: 20px;
}

.back-highlighted-text {
  color: #0E4A74;
}


.footer-container {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #162834;
}

.footer-text {
  position: relative;
  bottom: 10px;
  flex: 1;
}

.footer-contact {
  position: relative;
  cursor: default;
  top: 10px;
  left: 25em;
}

.footer-contact a {
  margin: 10px;
}

.footer-text-adress {
  position: relative;
  left: 300px;
}

.footer-text-contact {
  position: absolute;
  transform: translate(30%,-77%);
}

.footer-text-adress,
.footer-text-contact {
  font-size: 17px;
  color: #fff;
  align-items: center;
}

.footer-text-adress-head, 
.footer-text-contact-head {
  text-align: left;
  font-size: 40px;
}

.footer-text-adress p,
.footer-text-contact p {
  margin: 20px;
}